<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	cacheDirectory=".phpunit.result.cache"
	colors="true"
	beStrictAboutCoverageMetadata="true"
	beStrictAboutOutputDuringTests="true"
	verbose="true"
>
	<testsuites>
		<testsuite name="integration">
			<directory>tests/Integration</directory>
			<exclude>tests/Integration/bootstrap.php</exclude>
		</testsuite>
	</testsuites>
	<source>
		<include>
			<directory>src</directory>
		</include>
	</source>
	<php>
		<const name="WP_TESTS_PHPMAP" value="1"/>
	</php>
</phpunit>
