<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap-unit.php"
	cacheDirectory=".phpunit.result.cache"
	colors="true"
	beStrictAboutCoverageMetadata="true"
	beStrictAboutOutputDuringTests="true"
>
	<testsuites>
		<testsuite name="unit">
			<directory>tests/Unit</directory>
		</testsuite>
	</testsuites>
	<source>
		<include>
			<directory>src</directory>
		</include>
	</source>
</phpunit>
