:root {
    body.astrologer-wp-dark-theme {
        --kerykeion-color-black: #000000;
        --kerykeion-color-white: #ffffff;

        --kerykeion-color-neutral-content: #c8cbd0;
        --kerykeion-color-base-content: #ccd0d4;
        --kerykeion-color-primary: #38bdf8;
        --kerykeion-color-secondary: #818cf8;
        --kerykeion-color-accent: #f471b5;
        --kerykeion-color-neutral: #1e293b;
        --kerykeion-color-base-100: #0f172a;
        --kerykeion-color-info: #0ca5e9;
        --kerykeion-color-info-content: #000000;
        --kerykeion-color-success: #2dd4bf;
        --kerykeion-color-warning: #f4bf50;
        --kerykeion-color-error: #fb7085;

        /* Zodiac */
        --kerykeion-color-base-200: #0a1020;
        --kerykeion-color-base-300: #171f2c;
    }
}
